.fitContainer {
  max-width: 60vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
}
.fitContainer .fitPic-container {
  width: 350px;
}
.fitContainer .fitPic-container .fitPic {
  height: 250px;
  width: 370px;
}

.section-one-b-fitness {
  width: 70vw;
  padding: 30px;
}

/*# sourceMappingURL=fitness.css.map */
