@import "function";

footer {
  @include section(15vh, #234061 , 100%);
  border-top: 1px solid rgba(0,0,0,0.06);
  @include center(column);
  margin-top: 50px;

  ul {
    display: flex;
    margin: 0;
    padding-bottom: 10px;

    li {
      padding: 0 10px;
      list-style: none;
    }

  }
  .footLogos{
  padding: 0;
    vertical-align: center;

  }

  .footPic {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (min-width: 1367px){
  footer {
    .footLogos {
      margin-top: 70px;
    }
  }
}
@media only screen and (max-width: 1366px) and (min-height: 1000px) {
  footer {
    .footLogos {
      margin-top: 50px;
    }
  }
}
@media only screen and (max-width: 1024px) and (min-height: 1000px) {
  footer {
    .footLogos {
      margin-top: 65px;
    }
  }
}

@media only screen and (max-width: 1024px) and (max-height: 999px){
  footer {
    .footLogos {
      margin-top: 30px;
    }
    height: 110px;
  }
}

@media only screen and (max-width: 800px){
  footer {
    .footLogos {
      margin-top: 50px;
    }
  }
}

@media only screen and (max-width: 500px) and (max-height: 815px){
  footer {
    .footLogos {
      margin-top: 30px;
    }
  }
}


@media only screen and (max-width: 500px) and (max-height: 650px){
    footer {
      ul {
        @include center(row);
        margin: 0;

        li {
          padding: 0 10px;
          list-style: none;
        }

      }
      .footLogos {
        margin-top: 20px;
      }
    }
}
