@import "function";

$headerColor: white;
$headerHeight: 10vh;
$headerHoverFont: #234061;

header {
  @include section(fit-content, #6A99CF , 100%);
  @include center(row );
  border-bottom: 1px solid rgba(0,0,0,0.06);
  margin: 0;
  .logo{
    margin-left: 80px;
    padding: 10px;
    font-size: 40px;
    a{
      color: white;
      text-decoration: none;
      &:hover {
        color: $headerHoverFont;
      }
    }
  }
}
nav {
  ul{
    @include center(row);
    margin-top: 0;
    padding-top: 20px;
    li{
      list-style: none;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 24px;
      a{
        text-decoration: none;
        color: white;
        &:hover {
          color: $headerHoverFont;
        }
      }
    }
  }
  margin: auto;
}

@media only screen and (max-width: 900px){
  header {
    width: 100vw;

    .logo {
      margin-left: 20px;
    }

    .hamburger {
      height: 60px;
      width: 60px;
      position: absolute;
      background-color: transparent;
      border-style: none;
      font-size: 40px;
      color: white;
      right: 40px;
      top: 32px;
      z-index: 1;
      outline: none;

    }

    nav {
      position: fixed;
      top: -40px;
      right: 0;
      height: 120vh;
      width: 500px;
      background-color: white;
      transform: translateX(100%);
      ul {
        position: absolute;
        top: 100px;
        right: -20px;
        margin-right: 200px;
        li {
          a {
            color: black;
            font-size: 25px;
          }
        }
      }
    }
    .active1 {
      transform: translate(0);
    }
  }

  header nav ul {
    display: flex;
    flex-direction: column;

  }
}
@media only screen and (max-width: 500px) {
  header {
    width: 100vw;

    .logo {
      margin-left: 20px;
    }

    .hamburger {
      height: 110px;
      width: 60px;
      position: absolute;
      background-color: transparent;
      border-style: none;
      font-size: 40px;
      color: white;
      right: 40px;
      top: 10px;
      z-index: 1;
      outline: none;

    }

    nav {
      position: fixed;
      top: 0;
      right: 0;
      height: 120vh;
      width: 500px;
      background-color: white;
      transform: translateX(100%);
      ul {
        position: absolute;
        top: 100px;
        right: -80px;
        margin-right: 200px;
        li {
          a {
            color: black;
            font-size: 25px;
          }
        }
      }
    }
    .active1 {
      transform: translate(0);
    }
  }

  header nav ul {
    display: flex;
    flex-direction: column;

  }
}
@media only screen and (min-width: 900px) {
  .hamburger {
    display: none;
  }
}

