header {
  height: fit-content;
  background-color: #6A99CF;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  margin: 0;
}
header .logo {
  margin-left: 80px;
  padding: 10px;
  font-size: 40px;
}
header .logo a {
  color: white;
  text-decoration: none;
}
header .logo a:hover {
  color: #234061;
}

nav {
  margin: auto;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0;
  padding-top: 20px;
}
nav ul li {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: #234061;
}

@media only screen and (max-width: 900px) {
  header {
    width: 100vw;
  }
  header .logo {
    margin-left: 20px;
  }
  header .hamburger {
    height: 60px;
    width: 60px;
    position: absolute;
    background-color: transparent;
    border-style: none;
    font-size: 40px;
    color: white;
    right: 40px;
    top: 32px;
    z-index: 1;
    outline: none;
  }
  header nav {
    position: fixed;
    top: -40px;
    right: 0;
    height: 120vh;
    width: 500px;
    background-color: white;
    transform: translateX(100%);
  }
  header nav ul {
    position: absolute;
    top: 100px;
    right: -20px;
    margin-right: 200px;
  }
  header nav ul li a {
    color: black;
    font-size: 25px;
  }
  header .active1 {
    transform: translate(0);
  }

  header nav ul {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 500px) {
  header {
    width: 100vw;
  }
  header .logo {
    margin-left: 20px;
  }
  header .hamburger {
    height: 110px;
    width: 60px;
    position: absolute;
    background-color: transparent;
    border-style: none;
    font-size: 40px;
    color: white;
    right: 40px;
    top: 10px;
    z-index: 1;
    outline: none;
  }
  header nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 120vh;
    width: 500px;
    background-color: white;
    transform: translateX(100%);
  }
  header nav ul {
    position: absolute;
    top: 100px;
    right: -80px;
    margin-right: 200px;
  }
  header nav ul li a {
    color: black;
    font-size: 25px;
  }
  header .active1 {
    transform: translate(0);
  }

  header nav ul {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 900px) {
  .hamburger {
    display: none;
  }
}
footer {
  height: 15vh;
  background-color: #234061;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
footer ul {
  display: flex;
  margin: 0;
  padding-bottom: 10px;
}
footer ul li {
  padding: 0 10px;
  list-style: none;
}
footer .footLogos {
  padding: 0;
  vertical-align: center;
}
footer .footPic {
  height: 50px;
  width: 50px;
}

@media only screen and (min-width: 1367px) {
  footer .footLogos {
    margin-top: 70px;
  }
}
@media only screen and (max-width: 1366px) and (min-height: 1000px) {
  footer .footLogos {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 1024px) and (min-height: 1000px) {
  footer .footLogos {
    margin-top: 65px;
  }
}
@media only screen and (max-width: 1024px) and (max-height: 999px) {
  footer {
    height: 110px;
  }
  footer .footLogos {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 800px) {
  footer .footLogos {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 500px) and (max-height: 815px) {
  footer .footLogos {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 500px) and (max-height: 650px) {
  footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
  }
  footer ul li {
    padding: 0 10px;
    list-style: none;
  }
  footer .footLogos {
    margin-top: 20px;
  }
}
body {
  font-family: Arial, serif;
  margin: 0;
  height: 100vh;
  background-color: white;
  width: 100%;
}
body h1 {
  color: black;
  padding-bottom: 10px;
}
body h2 {
  color: black;
  padding-bottom: 10px;
}
body h3 {
  color: black;
  padding-bottom: 10px;
}
body p {
  color: black;
}

.syntax-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.piece-code {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: darkslategray;
  width: 500px;
  max-width: 80vw;
}
.piece-code p {
  color: white;
  padding: 10px;
}

ul li {
  padding: 10px;
}

table {
  border-collapse: collapse;
  width: 40vw;
  height: 25vh;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
table th {
  height: 40px;
  background-color: #234061;
  color: white;
  text-align: left;
  padding-left: 16px;
}
table td {
  padding-left: 15px;
}

.mobile-pic {
  display: none;
}

.desktop-main-pic {
  width: 15vw;
  margin: 40px 0;
}

.desktop-pic {
  width: 20vw;
  margin: 100px 20px;
}
.desktop-pic .desktop-pic:nth-child(odd) {
  margin-top: 40px;
}

.calculator {
  background-color: lightgray;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  touch-action: manipulation;
}
.calculator .display {
  width: 100%;
  background-color: black;
  height: 30%;
  color: white;
  font-size: 25px;
}
.calculator .buttons-section {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-areas: "plus minus keer divide" "seven eight nine result" "four five six result" "one two three result" "zero dot clear result";
}
.calculator .buttons-section button {
  font-size: 30px;
  font-weight: bold;
}
.calculator .buttons-section .result {
  grid-area: result;
}
.calculator .button {
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (min-width: 1367px) {
  main {
    margin-right: 70px;
  }
  main .section-one {
    display: flex;
    width: 80vw;
    margin: 40px auto auto;
    min-height: 100vh;
  }
  main .section-one .calc-section {
    display: flex;
    flex-direction: column;
  }
  main .section-one .section-one-a {
    width: 50vw;
    margin: 4vh 1.5vw;
  }
  main .section-one .section-one-a .showDB {
    margin-bottom: 80px;
    margin-top: 50px;
  }
  main .section-one .section-one-b {
    width: 20vw;
    margin: 3vh 3.5vw;
  }
  main .section-one .section-one-b .thinPic {
    margin: 80px 0;
  }
  main .section-one .section-one-b-fitness {
    margin-top: 55px;
    margin-left: 80px;
  }
  main .section-one .thinPic {
    width: 20vw;
    margin: 20px 0;
  }
  main .calc-section {
    margin-top: 70px;
    margin-left: 80px;
  }
  main .calculator {
    width: 20vw;
    height: 650px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .calculator .g1 {
    position: relative;
    top: 70px;
    left: 20px;
  }
  main .calculator .g2 {
    position: relative;
    top: 20px;
    left: 20px;
  }
  main .buttons-section {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: "plus minus keer divide" "seven eight nine result" "four five six result" "one two three result" "zero dot clear result";
  }
  main .button {
    font-size: 20px;
    font-weight: bold;
  }

  .weather {
    margin-left: 200px;
    margin-top: 70px;
  }
}
@media only screen and (max-width: 1366px) {
  .section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-one .section-one-a {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-one .section-one-a h3 {
    align-self: start;
    margin: 10px 0;
  }
  .section-one .section-one-a p {
    margin: 10px 0;
  }
  .section-one .section-one-b {
    width: 90vw;
  }
  .section-one .widePic {
    display: none;
  }
  .section-one .medPic {
    display: none;
  }
  .section-one .thinPic {
    width: 60vw;
    margin: 40px 0;
  }

  .calculator {
    width: 40vw;
    height: 70vh;
    background-color: lightgray;
    margin: 20px 20px;
  }

  .display .g1 {
    position: relative;
    top: 40px;
    left: 20px;
  }
  .display .g2 {
    position: relative;
    top: 20px;
    left: 20px;
  }
}
@media only screen and (max-width: 1024px) and (min-height: 1000px) {
  .section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-one .section-one-a {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-one .section-one-a h3 {
    align-self: start;
    margin: 10px 0;
  }
  .section-one .section-one-a p {
    margin: 10px 0;
  }
  .section-one .section-one-b {
    width: 90vw;
  }
  .section-one .widePic {
    display: none;
  }
  .section-one .medPic {
    display: none;
  }
  .section-one .thinPic {
    width: 80vw;
    margin: 40px 0;
  }

  .calculator {
    width: 60vw;
    height: 60vh;
    background-color: lightgray;
  }

  .display .g1 {
    position: relative;
    top: 40px;
    left: 20px;
  }
  .display .g2 {
    position: relative;
    top: 20px;
    left: 20px;
  }
}
@media only screen and (max-width: 1024px) and (max-height: 999px) {
  .section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-one .section-one-a {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-one .section-one-a h3 {
    align-self: start;
    margin: 10px 0;
  }
  .section-one .section-one-a p {
    margin: 10px 0;
  }
  .section-one .section-one-b {
    width: 90vw;
  }
  .section-one .widePic {
    display: none;
  }
  .section-one .medPic {
    display: none;
  }
  .section-one .thinPic {
    width: 60vw;
    margin: 40px 0;
  }

  .calculator {
    width: 50vw;
    height: 140vh;
    background-color: lightgray;
    margin: 20px 20px;
  }

  .display .g1 {
    position: relative;
    top: 40px;
    left: 20px;
  }
  .display .g2 {
    position: relative;
    top: 20px;
    left: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .section-one {
    width: 100vw;
    min-height: 100vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-one .section-one-a {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-one .section-one-a h3 {
    align-self: center;
    margin: 10px 0;
  }
  .section-one .section-one-a h2 {
    align-self: center;
    margin: 10px 0;
  }
  .section-one .section-one-a p {
    margin: 10px 0;
  }
  .section-one .section-one-a .mobile-pic {
    display: block;
    width: 60vw;
    margin: 20px;
  }
  .section-one .section-one-b {
    width: 90vw;
  }
  .section-one .desktop-pic {
    display: none;
  }
  .section-one .desktop-main-pic {
    display: none;
  }

  .calculator {
    width: 340px;
    height: 500px;
    background-color: lightgray;
  }

  .display .g1 {
    position: relative;
    top: 40px;
    left: 20px;
  }
  .display .g2 {
    position: relative;
    top: 20px;
    left: 20px;
  }
}
@media only screen and (max-width: 500px) {
  .thinPic {
    display: none;
  }

  .section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-one .section-one-a {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-one .section-one-a .mobile-pic {
    display: block;
    width: 80vw;
    padding: 20px;
  }
  .section-one .section-one-a h3 {
    align-self: center;
    margin: 10px 0;
  }
  .section-one .section-one-a p {
    margin: 10px 0;
  }
  .section-one .section-one-b {
    width: 90vw;
  }
  .section-one .section-one-b-fitness {
    display: flex;
    flex-wrap: wrap;
  }
  .section-one .section-one-b-fitness .fitContainer {
    height: fit-content;
    width: 80vw;
  }
  .section-one .section-one-b-fitness .fitPic {
    max-width: 80vw;
  }
  .section-one .desktop-pic {
    display: none;
  }

  .section-calculator {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-calculator .calculator {
    width: 90vw;
    height: 70vh;
    background-color: lightgray;
    margin: 20px 20px;
  }
  .section-calculator .display .g1 {
    position: relative;
    top: 40px;
    left: 20px;
  }
  .section-calculator .display .g2 {
    position: relative;
    top: 20px;
    left: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
