@import "header";
@import "footer";
@import "function";

$sectionPadding: 20px;
$titleColor: black;
$pTextColor: grey;
$phonePWidth: 90vw;

body {
  font-family: Arial, serif;
  margin: 0;
  @include section(100vh, white, 100%);
  h1 {
    color: $titleColor;
    padding-bottom: 10px;
  }
  h2 {
    color: $titleColor;
    padding-bottom: 10px;
  }
  h3 {
    color: $titleColor;
    padding-bottom: 10px;
  }
  p{
    color: black;
  }
}
.syntax-content {
  @include center(column);
}
.piece-code {
  box-shadow: 0 5px 10px  rgba(0,0,0,0.2);
  background-color: darkslategray;
  width: 500px;
  max-width: 80vw;
  p {
    color: white;
    padding: 10px;
  }
}

ul {
  li {
    padding: 10px;
  }
}
table {
  border-collapse: collapse;
  width: 40vw;
  height: 25vh;
  box-shadow: 0 5px 10px  rgba(0,0,0,0.2);
  th {
    height: 40px;
    background-color: #234061;
    color: white;
    text-align: left;
    padding-left: 16px;
  }
  td {
    padding-left: 15px;
  }
}
.mobile-pic {
  display: none;
}
.desktop-main-pic {
  width: 15vw;
  margin: 40px 0;
}
.desktop-pic {
  width: 20vw;
  margin: 100px 20px;
  .desktop-pic:nth-child(odd){
    margin-top: 40px;
  }
}
.calculator {
  background-color: lightgray;
  margin-top: 100px;
  @include center(column);
  touch-action: manipulation;

  .display {
    width: 100%;
    background-color: black;
    height: 30%;
    color: white;
    font-size: 25px;

  }
  .buttons-section {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: "plus minus keer divide"
        "seven eight nine result"
        "four five six result"
        "one two three result"
        "zero dot clear result";
    button {
      font-size: 30px;
      font-weight: bold;
    }
    .result {
      grid-area: result;
    }
  }
  .button {
    font-size: 20px;
    font-weight: bold;
  }
}

@media only screen and (min-width: 1367px){
main{

  .section-one{
    display: flex;
    width: 80vw;
    margin: 40px auto auto;
    min-height: 100vh;
    .calc-section {
      display: flex;
      flex-direction: column;
    }

    .section-one-a {
      width: 50vw;
      margin: 4vh 1.5vw;

      .showDB {
        margin-bottom: 80px;
        margin-top: 50px;
      }
    }
    .section-one-b {
      width: 20vw;
      margin: 3vh 3.5vw;
      .thinPic {
        margin: 80px 0;
      }
    }
    .section-one-b-fitness {
      margin-top: 55px;
      margin-left: 80px;
    }
    .thinPic {
      width: 20vw;
      margin: 20px 0;
    }
  }
  .calc-section{
    margin-top: 70px;
    margin-left: 80px}
    margin-right: 70px;
  .calculator {
    width: 20vw;
    height: 650px;
    background-color: lightgray;
    @include center(column);

    .g1 {
      position: relative;
      top: 70px;
      left: 20px
    }
    .g2 {
      position: relative;
      top: 20px;
      left: 20px
    }
  }
    .buttons-section {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 20% 20% 20% 20% 20%;
      grid-template-areas: "plus minus keer divide"
        "seven eight nine result"
        "four five six result"
        "one two three result"
        "zero dot clear result"
    }
    .button {
      font-size: 20px;
      font-weight: bold;
    }
  }
.weather {
  margin-left: 200px;
  margin-top: 70px;
}

}

@media only screen and (max-width: 1366px) {
  .section-one {
    @include center(column);

    .section-one-a {
      width: 60vw;
      @include center(column);
      h3 {
        align-self: start;
        margin: 10px 0;

      }
      p {
        margin: 10px 0;
      }
    }
    .section-one-b {
      width: 90vw;
    }
    .widePic {
      display: none;
    }
    .medPic {
      display: none;
    }
    .thinPic {
      width: 60vw;
      margin: 40px 0;
    }
  }
    .calculator {
      width: 40vw;
      height: 70vh;
      background-color: lightgray;
      margin: 20px 20px;
    }
    .display {

      .g1 {
        position: relative;
        top: 40px;
        left: 20px
      }
      .g2 {
        position: relative;
        top: 20px;
        left: 20px
      }
    }
  }

@media only screen and (max-width: 1024px) and (min-height: 1000px) {
  .section-one {
    @include center(column);

    .section-one-a {
      width: 80vw;
      @include center(column);
      h3 {
        align-self: start;
        margin: 10px 0;

      }
      p {
        margin: 10px 0;
      }
    }
    .section-one-b {
      width: 90vw;
    }
    .widePic {
      display: none;
    }
    .medPic {
      display: none;
    }
    .thinPic {
      width: 80vw;
      margin: 40px 0;
    }
  }
    .calculator {
      width: 60vw;
      height: 60vh;
      background-color: lightgray;
    }
    .display {

      .g1 {
        position: relative;
        top: 40px;
        left: 20px
      }
      .g2 {
        position: relative;
        top: 20px;
        left: 20px
      }
    }
  }
@media only screen and (max-width: 1024px) and (max-height: 999px){
  .section-one {
    @include center(column);

    .section-one-a {
      width: 60vw;
      @include center(column);
      h3 {
        align-self: start;
        margin: 10px 0;

      }
      p {
        margin: 10px 0;
      }
    }
    .section-one-b {
      width: 90vw;
    }
    .widePic {
      display: none;
    }
    .medPic {
      display: none;
    }
    .thinPic {
      width: 60vw;
      margin: 40px 0;
    }
  }
    .calculator {
      width: 50vw;
      height: 140vh;
      background-color: lightgray;
      margin: 20px 20px;
    }
    .display {

      .g1 {
        position: relative;
        top: 40px;
        left: 20px
      }
      .g2 {
        position: relative;
        top: 20px;
        left: 20px
      }
    }
  }
@media only screen and (max-width: 800px) {
  .section-one {
    width: 100vw;
    min-height: 100vh;
    overflow: scroll;
    @include center(column);

    .section-one-a {
      width: 90vw;
      @include center(column);
      h3 {
        align-self: center;
        margin: 10px 0;

      }
      h2 {
        align-self: center;
        margin: 10px 0;

      }
      p {
        margin: 10px 0;
      }
      .mobile-pic {
        display: block;
        width: 60vw;
        margin: 20px;
      }
    }
    .section-one-b {
      width: 90vw;
    }
    .desktop-pic {
      display: none;
    }
    .desktop-main-pic {
      display: none;
    }
  }
    .calculator {
      width: 340px;
      height: 500px;
      background-color: lightgray;
    }
    .display {
      .g1 {
        position: relative;
        top: 40px;
        left: 20px
      }
      .g2 {
        position: relative;
        top: 20px;
        left: 20px
      }
    }
  }

@media only screen and (max-width: 500px) {
  .thinPic {
    display: none;
  }
  .section-one {
    @include center(column);
    .section-one-a {
      width: 90vw;
      @include center(column);
      .mobile-pic {
        display: block;
        width: 80vw;
        padding: 20px;
      }
      h3 {
        align-self: center;
        margin: 10px 0;

      }
      p {
        margin: 10px 0;
      }
    }
    .section-one-b {
      width: 90vw;
    }
    .section-one-b-fitness {
      display: flex;
      flex-wrap: wrap;
      .fitContainer {
        height: fit-content;
        width: 80vw;
      }
      .fitPic{
        max-width: 80vw;
      }
    }
    .desktop-pic {
      display: none;
    }
  }
  .section-calculator {
    width: 100vw;
    min-height: 100vh;
    @include center(column);
    .calculator {
      width: 90vw;
      height: 70vh;
      background-color: lightgray;
      margin: 20px 20px;
    }
    .display {

      .g1 {
        position: relative;
        top: 40px;
        left: 20px
      }
      .g2 {
        position: relative;
        top: 20px;
        left: 20px
      }
    }
  }
}
